<html>

<head>
<title>Word Finder</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=0.86">
<meta charset="UTF-8">
<link rel="icon" href="favicon-32x32.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>

<body>
	<div class="container-fluid  p-3 my-3">
		<h1>Word Finder</h1>
		<p>Enter letters to find all English words, three letters or longer, that can be made from the letters.</p>
		<div id="app">
			Letters: <input @input="getWords" v-model="characters" id="charactersInput" class="foundword" />
			<button class="btn btn-outline-dark" @click="clear">Clear</button>
			<br /> <br />
			<div v-show="badRequest == true">{{ errorMsg }}</div>
			<div v-show="badRequest == false">
				<span v-show="totalFound > 0">Words that can be made from these letters: <button class="btn btn-outline-dark" @click="prev" :disabled="isPrevDisabled">Prev</button></span> 
				<span
					v-show="totalFound > words.length">( {{ indexOfFirst + 1 }} to {{ indexOfFirst + words.length }} of {{ totalFound }} )</span> 
				<span
					v-show="indexOfFirst == 0 && words.length > 0 && totalFound == words.length">( {{ totalFound }} total )</span> 
				<span
					v-show="totalFound > 0"><button class="btn btn-outline-dark" @click="next" :disabled="isNextDisabled">Next</button></span> <br /> <br />
				<div>
					<span class="text-monospace" v-for="word in words">{{ word }} </span>
				</div>
			</div>
		</div>

	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="vue.min.js"></script>
	<script src="main.js"></script>
</body>

</html>
