@charset "ISO-8859-1";

body {
	font-family: verdana;
	font-size: 20pt;
}

h1 {
	text-align: center;
}

button {
	font: inherit;
}

.foundwords {
	overflow-x: none;
	overflow-y: scroll;
}

.foundword {
	font-family: monospace;
	font-size: 20pt;
}
